# Node
node_modules/
*.log

# Env files
.env
.env.local
.env.development.local
.env.production.local

# Next.js
.next/
out/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Build outputs
dist/
build/
